.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2be281;
    width: 350px;
    height: 400px;

    h1 {
        font-size: 26px;
    }

    svg {
        font-size: 70px;
        color: white;
    }

    p {
        color: #171c21;
        text-align: center;
    }
}