.div__container1 {
    position: relative;
    &__image {
        img {
            width: 100%;
            border-bottom-left-radius: 40%;
        }
    }

    &__text {
        position: absolute;
        top: 200px;
        left: 200px;

        p {
            margin-bottom: 20px;
        }

        a {
            cursor: pointer;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #2be281;
            color: white;
            border-radius: 3px;
            border: none;
            text-decoration: none;
        }

        @media screen and (max-width: 700px) {
            top: 200px;
            left: 20px;
        }
    }
}
