.header {
    z-index: 2;
    position: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 2;
        justify-content: center;
        &__fn {
            border-radius: 5px;
            background-color: #2be281;
            padding: 2px;
            h1 {
                color: white;
                font-weight: bold;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        &__ln {
            padding: 2px;
            padding-left: 5px;
        }

        @media screen and (max-width: 700px) {
            margin-bottom: 20px;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 4;
        align-items: center;

        div {
            padding-left: 10px;
            padding-right: 10px;

            a {
                cursor: pointer;
                font-weight: bold;
                padding: 3px;
                text-decoration: none;

                &:visited {
                    color: white;
                }
            }
        }

        &__effect {
            color: rgb(255, 255, 255);
            border-bottom: solid 2px #2be281;
        }

        @media screen and (max-width: 700px) {
            margin-bottom: 20px;
        }
    }

    &__sm {
        flex: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        button {
            cursor: pointer;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 20px;
            background-color: rgba(0, 0, 255, 0);
            border: 1px solid black;

            @media screen and (max-width: 700px) {
                background-color: #2be281;
                color: #171c21;
            }
        }

        &__svg {
            cursor: pointer;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 32px;
            align-items: center;

            @media screen and (max-width: 700px) {
                display: none; 
            }
        }
    }

    @media screen and (max-width: 700px) {
        background-color: #171c21;
        flex-direction: column; 
    }
}

.header__bg {
    background-color: #171c21;
    transition: background-color 0.3s ease-in-out;
}

.color__green {
    color: #2be281;
}

.bg__green {
    background-color: #2be281 !important;
    color: #171c21 !important;
}
